* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: #f1f1f1;
}

/* Sidebar yung nasa left side */
.sidebar {
  width: 250px;
  background-color: #161515;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 15px 10px;
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: #e6e6e6;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  margin-right: 10px;
  font-size: 22px;
}

.sidebar ul li:hover {
  background: #333;
  border-radius: 5px;
}